html,
body {
  min-height: 100vh;
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
  background-color: #fafafa;
}

body::after {
  content: '';
  /* TODO: Figure out a way to get this included in the webpack alias resolving */
  background: url('../../assets/images/cork-wallet.png');
  background-repeat: repeat;
  opacity: 0.35;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -2;
}

/* Full-width helper class */
.full-width {
  width: 100%;
}